<div class="container">
  <h3>{{ greet }}</h3>
  <ng-content select="h1"></ng-content>
  <ng-content select=".info"></ng-content>
  <ng-content select="#stan"></ng-content>
  <ng-content select="[attr-role]"></ng-content>
</div>
