<div class="container">
  <app-greet>
    <h1>Jason</h1>
    <div class="info">Jason is 68 y.o.</div>
    <div id="stan">Jason is single</div>
    <div attr-role>Jason is DJ</div>
  </app-greet>
</div>